<style>
    #navbar-logo:hover span {display:none}

    #navbar-logo:hover:before {content:"<%= t("hover") %>"}
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="/" id="navbar-logo" class="navbar-brand"><span id="logo_text"><%= t("logo") %></span></a>
    <!-- <a class="navbar-brand">Беседы с батюшкой</a> -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0" action="{% url 'ask_question' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="<%=t("navbar.search_value")%>" aria-label="Search">
            <a href = "/ask" class="btn btn-outline-success my-2 my-sm-0"><span><%= t("navbar.add_question_button") %></span></a>
        </form>
        <div class="profile_info">
            <span id="name"> <!-- {{ request.user.username }} --><% if current_user %> <%= current_user.email %> <% end %></span>
            <div class="header_profile_links">
                <!-- {% if request.user.is_authenticated %} -->
                <% if current_user %>
                    <%= link_to t("navbar.logout"), logout_path %> 
                <% else %>
                  <%= link_to t("navbar.signup"), signup_path %> or 
                  <%= link_to t("navbar.login"), login_path %>
                <% end %>
            </div>
        </div>
    </div>
</nav>