<% @questions.each do |question| %>
	<div class="row question-box">
		<div class="col-3 question_box_left">
			<div class="row">
				<img src="/krest.jpg" alt="My image" class="question-img">
			</div>
		</div>
		<div class="col-9">
			<div class="question_box_right">
				<div class="question-title"><%= question.title %></div>
				<div class="question-text"><%= question.text %></div>
				<div class="row">
					<div class="col">
						<a class="ans_tag" href="/question/<%= question.id %>">показать всю исповедь</a>
					</div>
				</div>
				<div class="question_date"><%= question.created_at.to_s.split.first %></div>
				<div class="question_time"><%= question.created_at.to_s.split.second %></div>
			</div>
		</div>
	</div>


<% end %>