


<header>
    <%= render 'home/navbar' %>
</header>
<div class="container">
    <div class="row row-quest question_title">
		<span href="" id="new_questions_text"><%= t("headers.index") %></a>
    </div>

    <div class="row">
        <div id="question-section" class="col">
            <%= render 'home/question' %>
        </div>
    </div>

    <div id = "login_status_info">
		<span>
            <% if current_user %>
              Logged in as <%= current_user.email %>
            <% else %>
              You've not yet authenticated
            <% end %>
        </span>
    </div>
    <li class="nav-item <%= "active" if I18n.locale == :ru %>">
        <%= link_to "РУС", { locale: :ru }, class: "" %>
    </li>
    <li class="nav-item <%= "active" if I18n.locale == :en %>">
        <%= link_to "ENG", { locale: :en }, class: "" %>
    </li>
</div>

<span><%= t("js_click") %><p id="for-js">0</p></span>

<script>
    document.getElementById("question-section").addEventListener("click", function() {
        console.log("khfksdjfkljdgldf");
        let p = document.getElementById("for-js");
        let p_s = p.innerHTML;
        let integer = parseInt(p_s) + 1;
        console.log(integer);
        p.innerHTML = integer;
    });
</script>