<header>
    <%= render 'home/navbar' %>
</header>
<div class="container">
    <div class="row row-quest question_title">
		<span href="" id="new_questions_text">Исповедь</a>
    </div>

    <div class="row main_question_row">
        <div class="row col-12 main_question">
            <div class="col-3 main_question_left_block">
                <div class="row">
                    <img id="main_question_img" src="/krest.jpg" alt="My image" class="question-img">
                </div>
            </div>
            <div class="col-9 main_question_right_block">
                <div class="question_box_right">
                    <div id="main_question_title" class="question-title"><%= @question.title %></div>
                    <div id="main_question_text" class="question-text"><%= @question.text %></div>
                    <div id="main_question_date" class="question_date"><%= @question.created_at.to_s.split.first %></div>
                    <div id="main_question_time" class="question_time"><%= @question.created_at.to_s.split.second %></div>
                </div>
            </div>
        </div>
        

    </div>

    <hr/>
    <% if @error_message %>
        <span class="error_form_message"><%= @error_message %></span>
    <% end %>
    <% if current_user.user_type == "father" %>
        
      <!--   "/question/<%= @question.id %>" -->
        <%= form_tag(question_path, :method => "post") do %>
            <br/>
            <%= label_tag "Помочь сыну божьему своим ответом", nil, class: 'form_label_text' %>
            <%= text_area :text, "", class: 'form-control' %>
            <%= hidden_field_tag :qid,  @question.id %>
            <br/>
            <%= submit_tag "Поведать свету", class: 'btn btn-outline-success my-2 my-sm-0'  %>
        <% end %> 
    <% end %>

    <hr/>

    <%= render 'home/answer' %>

    <hr/>

    <div id = "login_status_info">
		<% if current_user %>
		  Logged in as <%= current_user.email %>
		<% else %>
		  You've not yet authenticated
		<% end %>
    </div>
</div>

